<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>User List</title>
    <style>
        img {
            width: 32em;
            height: 28em;
        }
    </style>
</head>

<body>
    <h1>{{firstName}} {{lastName}}</h1>
    <img src="/profile-pics/{{firstName}}-{{lastName}}-lg.jpg" alt="user-details-page" />
</body>

</html>